<div class="component-root">
  <h3 class="ui top attached header">
    Powers of {{ selectedHero.hero_name }}
  </h3>
  <!--<div class="item" *ngFor="let power of selectedHero.powers; let i=index; trackBy:trackByFn">
    <span>
      <input type="checkbox" [(ngModel)]="selectedPowers[i]">
    </span>
    <span>
      <input [(ngModel)]="selectedHero.powers[i]" size="20" placeholder="Enter new power">
    </span>
  </div>-->
  <table class="ui celled definition table">
    <thead>
      <tr>
        <th></th>
        <th>Power</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let power of selectedHero.powers; let i=index; trackBy:trackByFn">
        <td class="collapsing">
          <div class="ui fitted checkbox" [ngClass]="{checked: selectedPowers[i]}">
            <input type="checkbox" (click)="onCheckboxClicked(i)" [(ngModel)]="selectedPowers[i]">
            <!-- the label must follow the input or the checkbox won't check - https://github.com/Semantic-Org/Semantic-UI/issues/328 -->
            <label></label>
          </div>
        </td>
        <td>
          <div>
            <input [(ngModel)]="selectedHero.powers[i]" size="20" placeholder="Enter new power">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="onAddClicked()" class="ui labeled icon blue button">
    <i class="left add circle icon"></i>
    Add
  </button>
  <button (click)="onRemovedClicked()" class="ui labeled icon blue button">
    <i class="left minus circle icon"></i>
    Remove
  </button>
</div>
