<div *ngIf="selectedHero" class="ui form">
  <div class="inline fields">
    <div class="field">
      <label>Hero Name</label>
      <input [(ngModel)]="selectedHero.hero_name" type="text" placeholder="Superhero name">
    </div>
  </div>
  <div class="inline fields">
    <div class="field">
      <label>Real Name&nbsp;</label>
      <input [(ngModel)]="selectedHero.real_name" type="text" placeholder="Real name">
    </div>
  </div>
  <div class="inline fields">
    <div class="field">
      <label style="padding-left:10px">Gender</label>
      <input [(ngModel)]="selectedHero.gender" type="text" placeholder="Gender" style="margin-left:20px">
    </div>
  </div>
  <div class="ui grid">
    <div class="ten wide column">
      <attributes-editor [selectedHero]="selectedHero"></attributes-editor>
    </div>
    <div class="ten wide column">
      <powers-editor [selectedHero]="selectedHero"></powers-editor>
    </div>
  </div>
  <button (click)="onSuperHeroSave(selectedHero)" class="ui labeled icon button">
    <i class="left save icon"></i>
    Save Changes to Hero
  </button>
  <button (click)="onNewSuperHero(selectedHero)" class="ui labeled icon button">
    <i class="left plus icon"></i>
    Add New Hero
  </button>
</div>
